resource_group_name  = "rg-aks-project"
aks_cluster_name     = "aks-project-cluster"
dns_prefix           = "aksproject"
node_count           = 1
vm_size              = "Standard_B2s"
admin_username       = "azureuser"
ssh_public_key_path  = "~/.ssh/aks_terraform_rsa.pub"
